@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Palette */
	--primary: #a3ec46;
	--sand: #f5f1ee;
	--lightgrey: #b3b3b3;
	--softgrey: #404040;
	--grey: #3e3e3e;
	--darkgrey: #272727;
	--bgbase: #0a0a0a;

	/* Padding X */
	/* Padding X :sm */
	--sectionpxsm: 24px;

	/* Padding X :lg */
	--sectionpxlg: 120px;
}
