@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--outfit);
}

:root {
	/* Color Palette */
	--primary: #6b54f4;
	--orange: #ff7a00;
	--black: #0e0e0e;
	--darkgrey: #1b1b1b;
	--grey: #202020;
	--softgrey: #2f2f2f;
	--lightgrey: #a2a2a2;
	--smoke: #ededed;
	--sand: #f5f1ee;

	/* Color Hover */
	--primaryhover: #604bdc;

	/* Padding X */
	/* Padding X :sm */
	--sectionpxsm: 30px;

	/* Padding X :lg */
	--sectionpxlg: 140px;
}

@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

.marquee {
	animation: marquee 30s linear infinite;
}
